<!doctype html>
<html>
  <head>
    <title>Lyrical</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/styles.css">
    <!--STYLES END-->
  </head>
  <body>
    <!--SCRIPTS-->
    <script src="/linker/components/jquery/jquery.js"></script>
    <script src="/linker/components/handlebars/handlebars.js"></script>
    <script src="/linker/components/ember/ember.js"></script>
    <script src="/linker/components/ember-data/ember-data.js"></script>
    <script src="/linker/compiled/templates.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/controllers/index.js"></script>
    <script src="/linker/js/controllers/searchResults.js"></script>
    <script src="/linker/js/serializers/application.js"></script>
    <script src="/linker/js/adapters/application.js"></script>
    <script src="/linker/js/models/song.js"></script>
    <script src="/linker/js/routes/index.js"></script>
    <script src="/linker/js/routes/search_results.js"></script>
    <script src="/linker/js/router.js"></script>
    <script src="/linker/js/views/index.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
