<div class="slides">
  {{#each controller}}
    <section>
      <h4>
        {{#link-to 'song' this}}{{title}}{{/link-to}}
      </h4>
      <section class="lyric">
        {{#each lyric}}
          <p>{{this}}</p>
        {{/each}}
      </section>
    </section>
  {{/each}}
</div>
